    * {
        padding: 0px;
        margin: 0px;
        list-style-type: none;
        text-decoration: none;
        box-sizing: border-box;
    }
    
    .main-container {
        position: relative;
        border: 2px solid red;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100vh;
        background-color: #F8F8F8;
        /*background: #F8F8F8 0% 0% no-repeat padding-box;*/
        opacity: 1;
        overflow-x: hidden;
        box-sizing: border-box;
    }
    
    .side-content {
        display: flex;
        flex-direction: column;
        margin-left: 60px;
        width: 234px;
        height: 100%;
        box-sizing: border-box;
    }
    
    .soft {
        font-family: Arial, Helvetica, sans-serif;
        width: 234px;
        height: 140px;
        text-align: left;
        font: normal normal bold 50px/75px Dunbar Tall;
        letter-spacing: 0px;
        color: #2A2727;
        opacity: 1;
    }
    
    .name1 {
        margin-top: 100px;
        width: 165px;
        height: 22px;
        color: var(--unnamed-color-183df2);
        text-align: left;
        font-weight: bold;
        font-family: sans-serif;
        letter-spacing: 0.85px;
        color: #183DF2;
        text-transform: capitalize;
        opacity: 1;
    }
    
    .doings {
        position: absolute;
        top: 870px;
        left: 60px;
    }
    
    .work {
        font-family: Arial, Helvetica, sans-serif;
        width: 55px;
        height: 25px;
        text-align: left;
        font-weight: bold;
        letter-spacing: 0.5px;
        color: #2A2727;
        text-decoration: line-through;
        text-decoration-color: blue;
        opacity: 1;
        -moz-text-decoration-color: blu;
        text-decoration-thickness: 4px;
    }
    
    .about {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin-top: 20px;
        width: 65px;
        height: 25px;
        text-align: left;
        font: normal normal bold 20px/25px Dunbar Tall;
        letter-spacing: 0.5px;
        color: #2A2727;
        opacity: 1;
    }
    
    .contact {
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        margin-top: 20px;
        width: 77px;
        height: 25px;
        text-align: left;
        font: normal normal bold 20px/25px Dunbar Tall;
        letter-spacing: 0.5px;
        color: #2A2727;
        opacity: 1;
    }
    
    .work:hover {
        text-decoration: line-through;
        text-decoration-color: blue;
        -moz-text-decoration-color: blu;
        text-decoration-thickness: 4px;
    }
    
    .about:hover {
        text-decoration: line-through;
        text-decoration-color: blue;
        -moz-text-decoration-color: blu;
        text-decoration-thickness: 4px;
    }
    
    .contact:hover {
        text-decoration: line-through;
        text-decoration-color: blue;
        -moz-text-decoration-color: blu;
        text-decoration-thickness: 4px;
    }
    
    .dark {
        overflow-x: hidden;
        position: absolute;
        top: 71px;
        left: 494px;
        width: 1426px;
        height: 938px;
        background-color: #242729;
    }
    
    .aside {
        position: absolute;
        top: 370.5px;
        left: 87px;
        width: 124px;
    }
    
    .p1 {
        padding-bottom: 37px;
        letter-spacing: 0.42px;
        font-size: 17px;
        height: 22px;
    }
    
    .p2 {
        padding-bottom: 46px;
        letter-spacing: 0.42px;
        font-size: 10px;
        height: 16px;
    }
    
    .p3 {
        padding-bottom: 37px;
        letter-spacing: 0.42px;
        font-size: 17px;
        height: 22px;
    }
    
    .p4 {
        padding-bottom: 46px;
        letter-spacing: 0.42px;
        font-size: 10px;
        height: 16px;
    }
    
    .p5 {
        padding-bottom: 37px;
        letter-spacing: 0.42px;
        font-size: 17px;
        height: 22px;
    }
    
    .p6 {
        font-size: 10px;
        height: 16px;
    }
    
    .aside {
        color: #F5F5F5;
    }
    
    .zedi {
        text-align: center;
        z-index: 1;
        position: absolute;
        top: 395px;
        left: 438px;
        width: 114px;
        height: 292px;
        background-color: #FFFFFF;
        box-shadow: 0px 10px 70px #00000026;
        border-radius: 3px;
        opacity: 1;
    }
    
    .up {
        margin-top: 40px;
        color: #c4a9a9;
        text-shadow: 1px 1px 1px #ccc;
        font-size: 1.5em;
    }
    
    .zedi .round {
        margin-top: 70px;
        color: #c4a9a9;
        text-shadow: 1px 1px 1px #ccc;
        font-size: 1.5em;
    }
    
    .zedi .down {
        margin-top: 70px;
        color: #c4a9a9;
        text-shadow: 1px 1px 1px #ccc;
        font-size: 1.5em;
    }
    
    .one1 {
        position: absolute;
        top: 780px;
        left: 390px;
        width: 346px;
        height: 242px;
        opacity: 1;
    }
    
    .one1 p {
        transform: scale(1.3, 1.3);
        text-align: center;
        font-size: 200px;
        color: white;
        font-weight: 700;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        opacity: 1;
        -webkit-transform: scale(1.3, 1.3);
        -moz-transform: scale(1.3, 1.3);
        -ms-transform: scale(1.3, 1.3);
        -o-transform: scale(1.3, 1.3);
    }
    /* page 1 button */
    /*.btn {
       
        width: 326px;
        height: 90px;
    }*/
    
    button {
        font-size: 1.5em;
        color: white;
        position: absolute;
        top: 590px;
        left: 1044px;
        margin-left: 45px;
        background-color: black;
        width: 240px;
        height: 75px;
        border: 3px solid #7b20d1;
        border-radius: 45px;
        -webkit-border-radius: 45px;
        -moz-border-radius: 45px;
        -ms-border-radius: 45px;
        -o-border-radius: 45px;
        opacity: 1;
        font: normal normal medium 20px/100px Dunbar Tall;
        letter-spacing: 0.5px;
        color: #FFFFFF;
        opacity: 1;
        font-family: Arial, Helvetica, sans-serif;
    }
    
    .bt {
        color: #F5F5F5;
        opacity: .7;
    }
    
    .shape1 {
        position: absolute;
        top: 197px;
        left: 918px;
        width: 880px;
        height: 809px;
        border: 6px solid var(--unnamed-color-183df2);
        background: transparent url('../images/downpart.svg') 0% 0% no-repeat padding-box;
        border: 6px solid #183DF2;
        opacity: 0.6;
    }
    
    .shape-top {
        position: absolute;
        top: 73px;
        left: 497px;
        width: 394px;
        height: 371px;
        border: 6px solid var(--unnamed-color-183df2);
        background: transparent url('../images/topleft.svg') 0% 0% no-repeat padding-box;
        border: 6px solid #183DF2;
        opacity: 1;
    }
    
    .poly1 {
        position: absolute;
        top: 71px;
        left: 1466px;
        width: 117px;
        height: 40px;
        transform: matrix(1, 0, 0, 1, 0, 0);
        background: transparent url('../images/poly1.svg') 0% 0% no-repeat padding-box;
        opacity: 1;
    }
    
    .arrow {
        position: absolute;
        top: 140px;
        left: 805px;
        width: 36px;
        height: 30px;
        transform: matrix(0, -1, 1, 0, 0, 0);
        background: transparent url('../images/arrowpoly.svg') 0% 0% no-repeat padding-box;
        opacity: 1;
        transform: rotate(5deg);
        -webkit-transform: rotate(5deg);
        -moz-transform: rotate(5deg);
        -ms-transform: rotate(5deg);
        -o-transform: rotate(5deg);
    }
    
    .ellipse {
        position: absolute;
        top: 130px;
        left: 773px;
        width: 50px;
        height: 50px;
        transform: matrix(0, 1, -1, 0, 0, 0);
        background: transparent url('../images/ellipse.svg') 0% 0% no-repeat padding-box;
        opacity: 0.61;
    }
    
    .ai {
        position: absolute;
        top: 425px;
        left: 1147px;
        width: 103px;
        height: 129px;
        text-align: left;
        font: normal normal bold 100px/100px Dunbar Tall;
        letter-spacing: 2.5px;
        opacity: 1;
        color: #F5F5F5;
        font-family: Arial, Helvetica, sans-serif;
    }